INSTRUCTIONS

1. run this command in terminal to get username: sf org list
2. run this command in terminal: sf force user display -u [username for scratch org]
3. copy instance URL eg: "ruby-app-976-dev-ed.scratch.my.salesforce.com"  (exclude https://)
4. copy session id/access token: eg: "00DG10000010Qzz!AQEAQMn79z.uaSqcdkdZoAOuxpWql21QM8KA9gtbWKZoZT4YGsEK_6Gnfnr8qN8Spqa.AFrD1aUM8kBdQk9chZU_u7fvswfy"
5. use as creds to login eg: sf = Salesforce(instance=INSTANCE, session_id = SESSION_ID)

In [1]:
from os import getenv
import pandas as pd

from simple_salesforce import Salesforce

In [10]:
# Normal way of authenticating:

# SF_USER = getenv("PBO_USER")
# SF_PASS = getenv("PBO_PASS")
# SF_SECURITY_TOKEN = getenv("PBO_SECURITY_TOKEN")

# sf = Salesforce(username=SF_USER, password=SF_PASS, security_token=SF_SECURITY_TOKEN)

In [66]:
INSTANCE_URL="ruby-app-976-dev-ed.scratch.my.salesforce.com"
ACCESS_TOKEN="00DG10000010Qzz!AQEAQMn79z.uaSqcdkdZoAOuxpWql21QM8KA9gtbWKZoZT4YGsEK_6Gnfnr8qN8Spqa.AFrD1aUM8kBdQk9chZU_u7fvswfy"

sf = Salesforce(instance=INSTANCE_URL, session_id = ACCESS_TOKEN)

In [62]:
# List of top 10 companies often found in the S&P 500
top_companies_list = [
    "Apple Inc.",
    "Microsoft Corp.",
    "Amazon.com Inc.",
    "Alphabet Inc.",
    "Meta Platforms, Inc.",  # Formerly Facebook, Inc.
    "Berkshire Hathaway Inc.",
    "Tesla Inc.",
    "Johnson & Johnson",
    "Visa Inc.",
    "JPMorgan Chase & Co."
]

# Create a DataFrame with these companies
df = pd.DataFrame(top_companies_list, columns=['Name'])

In [63]:
df

                      Name
0               Apple Inc.
1          Microsoft Corp.
2          Amazon.com Inc.
3            Alphabet Inc.
4     Meta Platforms, Inc.
5  Berkshire Hathaway Inc.
6               Tesla Inc.
7        Johnson & Johnson
8                Visa Inc.
9     JPMorgan Chase & Co.

In [64]:
list_of_records = df.to_dict(orient='records')

In [65]:
sf.bulk.Account.insert(list_of_records)

[{'success': True, 'created': True, 'id': '001Aw00000ICqyAIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyBIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyCIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyDIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyEIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyFIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyGIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyHIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyIIAT', 'errors': []},
 {'success': True, 'created': True, 'id': '001Aw00000ICqyJIAT', 'errors': []}]