In [ ]:
# imports

In [1]:
from os import getenv

import pandas as pd
from simple_salesforce import Salesforce

In [12]:
# authentication

In [6]:
SF_USER = getenv("SF_USER")
SF_PASS = getenv("SF_PASS")
SF_SECURITY_TOKEN = getenv("SF_SECURITY_TOKEN")

In [7]:
sf = Salesforce(username=SF_USER, password=SF_PASS, security_token=SF_SECURITY_TOKEN)

In [13]:
# create

In [27]:
list_of_records = [
    {'FirstName':'Bobby','LastName':'Test','Company':'Bob & Nancy Co'},
    {'FirstName':'Nancy','LastName':'Test','Company':'Bob & Nancy Co'}
]

In [29]:
sf.bulk.Lead.insert(list_of_records)

[{'success': True, 'created': True, 'id': '00QDn000003mR3eMAE', 'errors': []},
 {'success': True, 'created': True, 'id': '00QDn000003mR3fMAE', 'errors': []}]

In [62]:
# read
soql_query = """
    SELECT Id, Name, Company, Email
    FROM Lead
    WHERE Company = 'Bob & Nancy Co'
    """

In [63]:
soql_result = sf.query_all(soql_query)

In [64]:
df = pd.DataFrame(soql_result.get("records"))

In [65]:
df

,attributes,Id,Name,Company,Email
0,"{'type': 'Lead', 'url': '/services/data/v52.0/...",00QDn000003mR3eMAE,Bobby Test,Bob & Nancy Co,bob@test.com
1,"{'type': 'Lead', 'url': '/services/data/v52.0/...",00QDn000003mR3fMAE,Nancy Test,Bob & Nancy Co,nancy@test.com

In [15]:
# update

In [49]:
df.loc[df['Name'] == "Bobby Test", "Email"] = "bob@test.com"
df.loc[df['Name'] == "Nancy Test", "Email"] = "nancy@test.com"

In [51]:
df = df.drop(columns=["attributes"])

In [58]:
df = df.drop(columns="Name")

In [59]:
list_of_records = df.to_dict("records")

In [60]:
list_of_records

[{'Id': '00QDn000003mR3eMAE',
  'Company': 'Bob & Nancy Co',
  'Email': 'bob@test.com'},
 {'Id': '00QDn000003mR3fMAE',
  'Company': 'Bob & Nancy Co',
  'Email': 'nancy@test.com'}]

In [61]:
# update/upsert are the same, except upsert inserts net new records
sf.bulk.Lead.update(list_of_records)

[{'success': True, 'created': False, 'id': '00QDn000003mR3eMAE', 'errors': []},
 {'success': True, 'created': False, 'id': '00QDn000003mR3fMAE', 'errors': []}]

In [66]:
# delete

In [55]:
# must just be the id column
sf.bulk.Lead.delete(list_of_dicts)

[{'success': True, 'created': False, 'id': '00QDn00000435fYMAQ', 'errors': []},
 {'success': True, 'created': False, 'id': '00QDn00000435fZMAQ', 'errors': []}]

In [ ]:
# CRUD Operations with Python and Salesforce